<h1>QR Code Generator</h1>

<h2>Query strings</h2>

<p>Welcome! We'll generate various types of QR codes for you if you visit the following paths and include the following query strings on the end:</p>

<dl>
  <dt>
    <h3>Any text</h3>
  </dt>
  <dd>
    <code>
      /text?content=Your text goes here
    </code>

    <p>Substitute your own text for <code>Your text goes here</code> .</p>
  </dd>

  <dt>
    <h3>URL</h3>
  </dt>
  <dd>
    <code>
      /url?page=https://www.wikipedia.org
    </code>

    <p>Substitute your own URL for <code>https://www.wikipedia.org</code> .</p>
  </dd>

  <dt>
    <h3>Wifi network</h3>
  </dt>
  <dd>
    <code>
      /wifi?ssid=Your network  name&pw=secret password
    </code>

    <p>Substitute your own network name for <code>Your network  name</code> and your own password for <code>secret password</code> .</p>
  </dd>

  <dt>
    <h3>Text message</h3>
  </dt>
  <dd>
    <code>
      /sms?phone=9876543210&message=Hi Alice! It's me,
    </code>

    <p>Substitute your own phone number for <code>9876543210</code> and your own starter message for <code>Hi Alice! It's me,</code> .</p>
  </dd>
</dl>

<hr>

<h2>Forms</h2>

<p>Oh, you don't enjoy typing query strings into your browser's address bar? Fine then, you can use these forms instead:</p>

<h3>Any text</h3>

<!-- Write your form here -->
<form action="/text">
<input name="content">
<button>Generate QR code</button>
</form>

<h3>URL</h3>

<!-- Write your form here -->
<form action="/url">
<input name="page">
<button>Generate QR Code</button>
</form>

<h3>Wifi network</h3>

<!-- Write your form here -->
<form action="/wifi">
<label for="wifi">Network name:</label>
<input id="wifi" name="ssid"><br>
<label for="password">Network password:</label>
<input id="password" name="pw"><br>
<button>Generate QR Code</button>
</form>

<h3>Text message</h3>

<!-- Write your form here -->
<form action="/sms">
<label for="sms">Phone number:</label>
<input id="sms" name="phone"><br>
<label for="text">Message:</label>
<input id="text" name="message"><br>
<button>Generate QR Code</form>
</form>
